* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #fff;
    color: #333;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background: white;
    border-bottom: 1px solid #eaeaea;
    margin-bottom: 0;
}

.logo-section {
    display: flex;
    align-items: center;
   
}

.logo-section img {
    width: 100px;
    height: auto;
    margin-right: 10px;
    margin-top : 10px;
}

.company-name h2 {
    color: #3C1D9F;
    margin: 0;
    font-weight: 700;
}

.company-name p {
    color: #1A1A1A;
    font-weight: bold;
    font-size: 14px;
    margin: 0;
}

.company-name span {
    font-size: 13px;
    color: #666;
}

.company-name .tagline {
    color: #D13B2F;
    font-weight: 600;
}


.hero {
    background: linear-gradient(to right, rgba(0,0,0,1.1), rgba(0,0,0,0.1)), url('background.jpg') no-repeat center center/cover;
    padding: 100px 40px;
    text-align: center;
    color: white;
    height: 83vh;
    background-size: cover;
}

.hero-content h1 {
    font-size: 42px;
    margin-bottom: 20px;
}

.hero-content .subheading {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}

.hero-content .description {
    font-size: 16px;
    margin-bottom: 25px;
}

.buttons .btn {
    padding: 12px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin: 0 10px;
    font-weight: 600;
}

.btn.primary {
    background-color: #3056F9;
    color: white;
}

.btn.secondary {
    background-color: #3056F9;
    color: white;
}